:root
{
    --primary-color: rgb(52, 50, 56);
    --secondary-color: rgb(23, 22, 24);

    --primary-text-color: rgb(219, 211, 231);

    --primary-border-color: rgb(44, 43, 46);


    --header-height: 80px;
}

body
{
    margin: 0;
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header
{
    background-color: var(--primary-color);
    border-color: var(--primary-border-color);
    width: 100%;
    height: var(--header-height);
    border-style: none none solid none;
    font-size: 2.4rem;
}

header #page-title
{
    margin: 30px;
}

footer
{
    background-color: white;
    opacity: 0.4;
    position: fixed;
    z-index: 10000;
    right: 0;
    bottom: 0;
    height: 20px;
    border-radius: 10px 0 0 0;
}

footer #page-footer
{
    margin: 10px;
    color: rgb(100, 100, 100);
    font-size: 1rem;
}

main
{
    position: absolute;
    background-color: black;
    width: 77%;
    height: calc(93% - var(--header-height));
    margin: 20px;
}

#loading-text
{
    background-color: rgba(128, 128, 128, 0.5);
    padding: 8px;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loading-wheel
{
    position: absolute;
    background-image: url("../img/loading.png");
    background-size: cover;
    padding-top: 25%;
    width: 25%;

    top: 50%;
    left: 50%;
    animation: load-turn 3s infinite linear;
    opacity: 0.5;
}

@keyframes load-turn
{
    from { transform: translate(-50%, -50%) rotateZ(0deg); }
    to { transform: translate(-50%, -50%) rotateZ(360deg); }
}